/*Corpo---------------------------------------------------------------------*/
body{
	background-image: url(img/familia-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h3{
	border-radius: 20px 20px;
	width: 80%;
	margin-left: 30px;
	padding: 5px;
	/*text-shadow: 1px 2px white;*/
}

a:link {
	text-decoration: none;
}

/*Class--------------------------------------------------------------------*/
.header{
	padding: 0px;
	padding-right: 10px;
}

.coluna1{
	background-color: #fff0d9;
	border: 2px dashed #778899;
	float: right;
	padding: 10px 10px;
	margin: 10px 5px;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.coluna1:hover{
	background-color: #FFDEAD;
	transition: 1s;
}

.coluna2{
	float: left;
	margin-right: 15px;
	margin-left: 20px;
	margin-bottom: 1%;
	border-padding-left:5px;
	border-radius: 10px 10px;
	width: 30%;
	background-color: #fff0d9;
	font-family: Arial,sans-serif;
}

.coluna2:hover {
	background-color: #FFDEAD;
	transition: 1s;
}
.col3{
	background-image: url(img/oie_transparent.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
	
.col4{
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
	color: black;
	font-weight: bold;
}

.parte2corpo{
	margin: 20px;
}

.rodape{
	margin:500px;
	background-color: blue;
}

.fundo{
	background-color: #fff0d9;
	opacity: 0.5;
}

.center21{
	text-align: center;
}

.center22{

}
/*ID's------------------------------------------------------------------------------*/
#h1{
	color: black;
	text-shadow: 1px 2px white;
	text-align: center;
	border-radius: 20px 20px;
	width: 450px;
	background-color: #fff0d9;
	
}
#h2{
	margin-top: 53%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: #fff0d9;
	padding: 18px;
	border-radius: 100px 100px;
	color: black;
	text-shadow: 1px 2px white;
	text-align: center;
}

#h2:hover {
	background-color: #FFDEAD;
	transition: 1s;
}

#imagem{

	text-align: center;
}
#centralizado{
	float: left;
}
#center{
	padding-left: 32%;
}
#center2{
	text-align: center;
}
/*link-----------------------------------------------------------------------*/
